<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("STUDENT INFORMATION SYSTEM", "SignUp", "UserRegister", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                   
                    @if (Session["LogedUserID"]==null)
                    {
                      
                    <li>@Html.ActionLink("LogIn", "Login", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    <li>@Html.ActionLink("Register", "SignUp", "UserRegister", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("My Profile", "AfterLogin", "Login")</li>
                        if (Session["User"].ToString() == "Admin")
                        {
                        <li>@Html.ActionLink("Manage Courses", "CoursesView", "Courses")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("RegisteredCourses", "RegisteredCourses", "Courses")</li>
                            <li>@Html.ActionLink("AddCourses", "CoursesView", "Courses")</li>

                        }


                        <li>@Html.ActionLink("LogOut", "Login", "Login")</li>
                    }
                </ul>

             
                @* @Html.Partial("_LoginPartial") *@
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Student Application By Manjusha Janga</p>
    </footer>
</body>

</html>
